# Teams: {{name}}

<p>
    <a href="https://www.npmjs.com/package/@microsoft/spark.{{name}}" target="_blank">
        <img src="https://img.shields.io/npm/v/@microsoft/spark.{{name}}" />
    </a>
    <a href="https://www.npmjs.com/package/@microsoft/spark.{{name}}?activeTab=code" target="_blank">
        <img src="https://img.shields.io/bundlephobia/min/@microsoft/spark.{{name}}" />
    </a>
    <a href="https://www.npmjs.com/package/@microsoft/spark.{{name}}?activeTab=dependencies" target="_blank">
        <img src="https://img.shields.io/librariesio/release/npm/@microsoft/spark.{{name}}" />
    </a>
    <a href="https://www.npmjs.com/package/@microsoft/spark.{{name}}" target="_blank">
        <img src="https://img.shields.io/npm/dw/@microsoft/spark.{{name}}" />
    </a>
    <a href="https://microsoft.github.io/spark.js" target="_blank">
        <img src="https://img.shields.io/badge/📖 docs-open-blue" />
    </a>
</p>

{{description}}

<a href="https://microsoft.github.io/spark.js/2.getting-started/1.create-application.html" target="_blank">
    <img src="https://img.shields.io/badge/📖 Getting Started-blue?style=for-the-badge" />
</a>

## Install
